*{
    background-color: black;
}
.main {
    color: black;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.homepage_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin-left: 100px;
    margin-bottom: 100px;
}

.homepage_body h3 {
    font-size: 25px;
    font-weight: 750;
    color: #f8c35c;
    max-width: 450px;
    margin-bottom: 30px;
}

.homepage_body h1 {
    margin-top: 20px;
    font-size: 80px;
    font-weight: bold;
    color: #475edf;
}

.homepage_img {
    display: flex;
    justify-content: flex-end;
}

.homepage_img img {
    width: 600px;
    height: auto;
    margin-right: 200px;
    margin-bottom: 100px;
}

form {
    text-align: left;
}

.enter_button {
    width: 250px;
    height: 50px; /* To make the button circular */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(0,0,0,0.2); /* Grey shadow */
    background-color: #475edf; /* White background */
    color: #f8c35c; /* Text color */
    font-size: 20px; /* Font size */
    font-weight: 600;
    display: flex; /* Use flexbox for centering text */
    align-items: center; /* Vertically center the text */
    justify-content: center; /* Horizontally center the text */
    border: none; /* Remove default border */
    cursor: pointer; /* Pointer cursor on hover */
    transition: box-shadow 0.3s ease; /* Smooth shadow transition */
}
