*{
    background-color: black;
}

.pagination{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 20px;
}
span {
    font-weight: 700;
    font-size: 20px;
    color: #475edf;
    padding-right: 5px;
}

a{
    padding-right: 5px;
    font-weight: 700;
    font-size: 20px;
    color: white;
}
p{
    padding-right: 5px;
}

a:hover{
    color: #475edf;
}

.main {
    display: flex;
    justify-content: center;
}

.main h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
}
.database{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
table {
    width: 90%;
    border-collapse: collapse;
}

th, td {
    color: white;
    border: 1px solid white;
    padding: 8px;
}

td:first-child {
    width: 10px;
}

td:not(:first-child){
    width: 50%;
}

tr:hover {
    background-color: #f5f5f5;
}

.code-container {
    padding: 5px;
    border-radius: 5px;
    overflow-x: auto;
    max-width: fit-content;
}

.code {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    color: white;
    white-space: pre-wrap;
}

    button{
        font-size: 16px;
        padding: 10px 20px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        margin-right: 20px;
        background-color: black;
        color: white;
    }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pagination input[type='number']{
    width: 60px; color: white;
}