form {
    display: flex;
    justify-content: flex-start;
    max-width: 600px;
    margin-left: 32%;
    padding-top: 50px;
}

.ques{
    font-size: 28px;
    font-weight: 600;
}

h1{
    font-size: 21px;
    font-weight: 800;
    font: 400;
    margin-right: 10px;
}

.options{
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid #d6d6d6;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

label{
    font-size: 19px;
    font-weight: 500;
}

label:hover
{
    color: grey;
}

button{
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    border: solid black 2px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
  }

.error_message{
    font-size: 22px;
    color: red;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 10px;
}