body{
    background-color: black;
}

form {
    display: flex;
    justify-content: flex-start;
    margin-top: 3%;
}
.ques_no{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.ques{
    color: white;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5%;
    max-width: 1000px;
    display: flex;
    justify-content: flex-start;
}
.question{
    margin: auto;
    min-height: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1{
    font-size: 21px;
    font-weight: 800;
    font: 400;
    margin-right: 10px;
}

.lbl{
    color: white;
}
.radio-section {
    display: flex;
	align-items: center;
	justify-content: flex-start;
}

.radio-item [type="radio"] {
	display: none;
}
.radio-item + .radio-item {
	margin-top: 15px;
}
.radio-item label {
	display: block;
	padding: 20px 60px;
	background: #1d1d42;
	border: 2px solid rgba(255, 255, 255, 0.1);
	border-radius: 8px;
	cursor: pointer;
	font-size: 18px;
	font-weight: 400;
	min-width: 350px;
	white-space: nowrap;
	position: relative;
    text-align: center;
	transition: 0.4s ease-in-out 0s;
}
.radio-item label:after,
.radio-item label:before {
	content: "";
	position: absolute;
	border-radius: 50%;
}
.radio-item label:after {
	height: 19px;
	width: 19px;
	left: 19px;
	top: calc(50% - 12px);
}

.radio-item [type="radio"]:checked ~ label {
	border-color: #524eee;
}
.radio-item [type="radio"]:checked ~ label::before {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.button_container{
    width: 90%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: right;
}

button{
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: solid white 2px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
	margin-top: 10px;
    margin-right: 10px;
}



.error_message{
    font-size: 22px;
    color: red;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 10px;
}

.xyz{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}