/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Navbar should be fixed at the top */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 60px; /* Add margin to prevent overlap with fixed navbar */
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 900px;
    height:500px;
    text-align: center;
}

.welcome h1 {
    margin-bottom: 20px;
}

.difficulty-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.tab-button.active {
    background-color: #0056b3;
}

.scores {
    margin-bottom: 20px;
}

.score-data {
    display: none;
    margin-bottom: 10px;
}

.score-data span {
    display: inline-block;
    margin: 5px;
    background-color: #e7e7e7;
    padding: 5px 10px;
    border-radius: 5px;
}

.summary {
    margin-top: 20px;
}

#startquiz {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#difficulty_level.hidden {
    display: none;
}

#difficulty_level button {
    background-color: #17a2b8;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}
