*{
    background-color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    max-width: 90%;
}

.table{
    display: flex;
    justify-content: center;
}

th, td {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    padding: 10px;
    width: 60px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

h1{
    justify-content: center;
    display: flex;
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.details-row {
    display: none;
}

.username:hover{
    background-color: rgb(37, 37, 37);
}