*{
    background-color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    max-width: 90%;
}

.table{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

th, td {
    /* border-top: 1px solid white;
    border-bottom: 1px solid white; */
    border: 1px solid white;
    color: white;
    padding: 10px;
    /* width: 100px; */
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}
td.topics{
    width: 100px;
}

h1{
    justify-content: center;
    display: flex;
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.details-row {
    display: none;
    
}

td.username{
    max-width: max-content;
    width: max-content;
}

.username:hover{
    background-color: rgb(37, 37, 37);
}

.icon{
    width: 150px;
}