*{
    background-color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    max-width: 90%;
}

.table{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.sub_table{
    display: flex;
    margin: 20px 0px;
    border-collapse: collapse;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    width: 100px;
}

th, td {
    border: 1px solid white;
    color: white;
    padding: 10px;
    max-width: 100px;
    width: 100px;
    text-align: center;
}


th.sub_table_t, td.sub_table_t{
    max-width: 1200px;
    width: 1200px;
}

h1{
    justify-content: center;
    display: flex;
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.details-row {
    display: none;
}

.icon:hover{
    background-color: rgb(37, 37, 37);
}

.icon{
    width: 150px;
}