{% if userid is not none%} {% include 'navbar_after_login.html'%}
{%else%} {% include 'navbar_before_login.html'%}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>About Us</title>
</head>
<body class="bg-black" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <div class="max-w-screen-lg mx-auto mt-12 flex justify-center space-x-6 pt-12" style="margin-top: 170px;">
    <div class="rounded p-4 border border-gray-200 hover:border-blue-700 transition duration-300">
        <div class="flex flex-col gap-2">
            <h2 class="text-xl font-bold text-blue-700">Up-to-Date Questions</h2>
        </div>
    </div>
    <div class="rounded p-4 border border-gray-200 hover:border-blue-700 transition duration-300">
        <div class="flex flex-col gap-2">
            <h2 class="text-xl font-bold text-blue-700">Multiple Topics</h2>
        </div>
    </div>
    <div class="rounded p-4 border border-gray-200 hover:border-blue-700 transition duration-300">
        <div class="flex flex-col gap-2">
            <h2 class="text-xl font-bold text-blue-700">Easy Test Giving</h2>
        </div>
    </div>
</div>


</body>
</html>