{% include 'navbar_after_login.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/adminpage.css">
    <title>Admin Page</title>
</head>
<body class="overflow-hidden" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <form action="/adminpage" method="POST">
        <button type="submit" name="button_clicked" value="QDB">Questions Database</button>
        
        <button type="submit" name="button_clicked" value="US">User Statistics</button>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul class="messages" style="list-style-type: none;">
                {% for message, category in messages %}
                    <li class="alert alert-{{ category }}">
                        {{ category }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </form>
</body>
</html>