{% if userid is not none%} {% include 'navbar_after_login.html'%}
{%else%} {% include 'navbar_before_login.html'%}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/hp.css">
    <title>Main Page</title>
</head>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div class="main">
        <div class="homepage_body">
            <h1>Quiz-Tool</h1>
            <h3>Try our quiz tool for instant feedback on computer science topics! Track your progress, improve your skills, and expand your knowledge today.</h3>
            <form action="/" method="POST">
                <button type="submit" class="enter_button" value="signup" name="enter">Let's Go!</button>
            </form>
        </div>
        <div class="homepage_img">
            <img src="static/images/bmvlogo.svg">
        </div>
    </div>
</body>
</html>