{% if userid is not none%} 
{% set context = {'userid': userid, 'surname': surname} %}
{% include 'navbar_after_login.html'%}
{%else%} {% include 'navbar_before_login.html'%}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/quizpage.css">
    <title>Quiz</title>
</head>
<body>
    <div class="ques_no">
        <h1>Question {{ current_index + 1 }} / {{ total_questions }}</h1>
    </div>
    <form id="quizform" method="POST" action="quizpage" class="xyz">
        <div class="question">
            <div class="ques">
                <p>{{ ques_data.question }}</p>
            </div>
            <section class="radio-section">
                <div class="radio-list">
                    <div class="radio-item">
                        <input type="radio" id="radio0" name="answer" value="{{ ques_data.options[0] }}" {% if ques_data.options[0] == ans %} checked {% endif %}>
                        <label class="lbl" for="radio0">
                            {{ ques_data.options[0] }}
                        </label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="radio1" name="answer" value="{{ ques_data.options[1] }}" {% if ques_data.options[1] == ans %} checked {% endif %}>
                        <label class="lbl" for="radio1">
                            {{ ques_data.options[1] }}
                        </label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="radio2" name="answer" value="{{ ques_data.options[2] }}" {% if ques_data.options[2] == ans %} checked {% endif %}>
                        <label class="lbl" for="radio2">
                            {{ ques_data.options[2] }}
                        </label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="radio3" name="answer" value="{{ ques_data.options[3] }}" {% if ques_data.options[3] == ans %} checked {% endif %}>
                        <label class="lbl" for="radio3">
                            {{ ques_data.options[3] }}
                        </label>
                    </div>
                </div>
            </section> 
            {% if error %}
                    <p class="error_message">{{ error }}</p>
            {% endif %}
            {% if current_index != 0 %}
                <button type="submit" name="button_clicked" value="previous">Previous</button>
            {% endif %}
            
            {% if current_index == total_questions - 1 %}
                <button type="submit" name="button_clicked" value="submit">Submit</button>
            {% else %}
                <button type="submit" name="button_clicked" value="next">Next</button>
            {% endif %}
        </div>
        
    </form>

</body>
</html>

</form>
</body>
</html>

