{% if userid is not none%} {% include 'navbar_after_login.html'%}
{%else%} {% include 'navbar_before_login.html'%}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/quizpage.css">
    <title>Quiz</title>
</head>
<body>
    <div class="h1-container">
        <h1>Quiz</h1>
    </div>
    <form id="quizform" method="POST" action="quizpage">
        <h1>Question {{ current_index + 1 }} / {{ total_questions }}</h1>
        
        <p>{{ ques_data.question }}</p>
        
        {% for option in ques_data.options %}
            <label>
                <input type="radio" name="answer" value="{{ option }}" {% if option == ans %} checked {% endif %}>
                {{ option }}
            </label><br>
        {% endfor %}
        {% if error %}
                <p class="error-message">{{ error }}</p>
        {% endif %}
        {% if current_index != 0 %}
            <button type="submit" name="button_clicked" value="previous">Previous</button>
        {% endif %}
        
        {% if current_index == total_questions - 1 %}
            <button type="submit" name="button_clicked" value="submit">Submit</button>
        {% else %}
            <button type="submit" name="button_clicked" value="next">Next</button>
        {% endif %}
    </form>

</body>
</html>

</form>
</body>
</html>

