{% include 'navbar_before_login.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .custom-button {
      display: inline-flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 8px 14px;
      font-weight: bold;
      font-size: 16px;
      color: white;
      background-color: #445197;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .custom-button:hover {
      background-color: #6a78c8; /* Updated color for hover state */
    }
  </style>
</head>
<body>





<div class="flex justify-center items-center min-h-screen bg-gray-100 ">
  <div class="bg-white w-full max-w-4xl mx-auto rounded-md shadow-md overflow-hidden flex">
    <!-- Left part with welcome message -->
    <div class="w-1/2  p-8 flex items-center justify-center" style="background-image: url('static/images/signupbg.jpg');">
      <div>
        <h2 class="text-4xl font-bold text-black mb-4" style="color: #475edf;">Welcome</h2>
        <p class="text-lg font-semibold" style="color: #475edf;">Create an account to get started</p>
      </div>
    </div>
    
    <!-- Right part with sign-up form -->
    <div class="w-1/2 p-8">
      <div class="max-w-md mx-auto">
        <h2 class="text-2xl font-bold leading-tight text-black mb-4">
          Sign up to create account
        </h2>
        <p class="mb-6 text-base text-gray-600">
          Already have an account?
          <a
            href="/login"
            title=""
            class="font-medium text-black transition-all duration-200 hover:underline"
          >
            Sign In
          </a>
        </p>
        <form action="{{ url_for('signup')}}" method="POST" class="space-y-5" onsubmit="return validatePasswords()">
          <div>
            <label for="name" class="text-base font-medium text-gray-900">Name</label>
            <input
              class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1"
              type="text"
              placeholder="Name"
              id="name"
              name="name"
            />
          </div>
          <div>
            <label for="surname" class="text-base font-medium text-gray-900">Surname</label>
            <input
              class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1"
              type="text"
              placeholder="Surname"
              id="surname"
              name="surname"
            />
          </div>
          <div>
            <label for="emailid" class="text-base font-medium text-gray-900">Email-id</label>
            <input
              class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1"
              type="text"
              placeholder="Email-id"
              id="emailid"
              name="emailid"
            />
          </div>
          <div>
            <label for="experience" class="text-base font-medium text-gray-900">Experience</label>
            <select
              class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1"
              id="experience"
              name="experience"
            >
              <option value="" selected>Select Experience</option>
              <option value="0-2 years">0-2 years</option>
              <option value="2-5 years">2-5 years</option>
              <option value="5+ years">5+ years</option>
            </select>
          </div>
          <div>
            <label for="password" class="text-base font-medium text-gray-900">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1"
            />
          </div>
          <div>
            <label for="confirmpassword" class="text-base font-medium text-gray-900">Confirm Password</label>
            <input
              type="password"
              name="confirmpassword"
              id="confirmpassword"
              placeholder="Confirm Password"
              class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1"
            />
            <p id="passwordError" class="text-red-500 text-sm mt-2" style="display: none;">Passwords do not match.</p>
            {% if error %}
            <p class="text-red-500 text-sm mt-2">{{ error }}</p>
            {% endif %}
          </div>
          <div>
        
            <button type="submit" class="custom-button">
              Create Account
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>

<script>
  function validatePasswords() {
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmpassword").value;
    var passwordError = document.getElementById("passwordError");

    if (password !== confirmPassword) {
      passwordError.style.display = "block";
      return false; // Prevent form submission
    } else {
      passwordError.style.display = "none";
      return true; // Allow form submission
    }
  }
</script>
</html>