{% include 'navbar_before_login.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/signup.css">
    <title>Signup</title>
</head>
<body>
    <div class="signup-container">
        <div class="signup-form">
          <h1>Sign Up</h1>
    
          <form action="{{ url_for('signup')}}" method="POST">
            <div class="input-field">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="name" placeholder="Name">
            </div>
            <div class="input-field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="password" placeholder="Password">
                <i class="fas fa-eye-slash"> </i>
            </div>
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <button type="submit" class="signup-button">Sign Up</button>
            </form>
    
          <div class="form-footer">
            <p>Already a user? <a href="/login" class="sign-up">Login</a></p>
          </div>
        </div>
      </div>
</body>
</html>
<!-- 
    <div class="signup-container">
    <div class="login-form">
      <h1>Sign Up</h1>

      <form action="{{ url_for('signup')}}" method="POST">
        <input type="text" name="name" id="name" class="name" placeholder="Name">
        <input type="password" name="password" id="password" class="password" placeholder="Password">
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <button type="submit">Sign Up</button>
        </form>

      <div class="form-footer">
        <p>Already a user?</p>
        <a href="/signup" class="sign-up">Login</a>
      </div>
    </div>
  </div>
 -->