{% if userid is not none %} 
    {% set context = {'userid': userid, 'surname': surname} %}
    {% include 'navbar_after_login.html' with context %}
{% else %} 
    {% include 'navbar_before_login.html' %}
{% endif %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/up.css') }}">
    <title>User Page</title>
    
</head>
<body>
    <div class="container">
        <div class="card">
            {% if test %}
            <form method="POST" id="contTest" action="/pendingtest">
                <p>Complete the pending test first...</p>
                <button type="submit" name="contTest" value="contTest">Continue</button>
            </form>
            {% else %}
                <div class="welcome">
                    <h1>Select topics</h1>
                </div>
                <form method="POST" id="topics">
                    <input type="checkbox" name="topics" id="dotnet" value="dotnet">
                    <label for="dotnet">DotNet</label><br>
                    <input type="checkbox" name="topics" id="react" value="react">
                    <label for="react">React</label><br>
                    <input type="checkbox" name="topics" id="python" value="python">
                    <label for="python">Python</label><br>
                    <input type="checkbox" name="topics" id="javascript" value="javascript">
                    <label for="javascript">Javascript</label><br>
                    <input type="checkbox" name="topics" id="node" value="node">
                    <label for="node">Node JS</label><br>
                    <input type="checkbox" name="topics" id="mongodb" value="mongodb">
                    <label for="mongodb">Mongodb</label><br>
                    <input type="checkbox" name="topics" id="mysql" value="mysql">
                    <label for="mysql">Mysql</label><br>
                    <input type="checkbox" name="topics" id="postgresql" value="postgresql">
                    <label for="postgresql">Postgresql</label><br>
                    <button type="submit" id="startquiz">Start Quiz</button>
                </form>
                {% endif %}
        </div>
    </div>
</body>
</html>
