{% include 'navbar_after_login.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Stats</title>
    <link rel="stylesheet" href="static/css/userstats.css">
</head>
<body>
    <h1>User Stats</h1>
    <div class="table">
        {% for i in range(u_data | length) %}
        <table>
            {% if i==0 %}
            <thead>
                <tr>
                    <th></th>
                    <th>Username</th>
                </tr>
            </thead>
            {% endif %}
            <tbody>
                    <tr class="user-row" data-user-email="{{ u_data[i].emailid }}">
                        <td class="icon"><svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 50%;"
                            width="17" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                          </svg></td>
                        <td class="username">{{ u_data[i].emailid }}</td>
                    </tr>
                    <tr>
                        <table class="details-row details-for-user-{{u_data[i].emailid}}">
                            <thead>
                                <th>Quiz No.</th>
                                <th>Topics</th>
                                <th>Score</th>
                                <th>Date</th>
                                <th>Time spent</th>
                            </thead>
                            <tbody>
                                {% for test_index in range(u_data[i]['num_tests']) %}
                                <tr>
                                        <td style="text-align: center;">{{ test_index + 1 }}</td>
                                        <td class="topics" style="text-align: center;">{{ u_data[i].test_data[test_index].keys() | join('<br>') | safe}}</td>
                                        <td style="text-align: center;">{{ u_data[i].scores[test_index] }}</td>
                                        <td style="text-align: center;">{{ u_data[i].date[test_index] }}</td>
                                        <td style="text-align: center;">{{ u_data[i].time_taken[test_index] | round(1) }}s</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
        </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const usernames = document.querySelectorAll('.icon');
            usernames.forEach(username => {
                username.addEventListener('click', function () {
                    console.log('weihwohiug')
                    const userRow = this.parentElement;
                    const userEmail = userRow.getAttribute('data-user-email');
                    const detailsRows = document.querySelectorAll('.details-row');

                    detailsRows.forEach(row => {
                        console.log(row)
                        if (row.classList.contains('details-for-user-'+userEmail)) {
                            row.style.display = (row.style.display === 'none' || row.style.display === '') ? 'table-row' : 'none';
                            row.style.margin =  '20px 0px';
                            row.style.width= 'fit-content';
                            row.style.width= '100%';
                            row.style.borderCollapse = 'collapse';
                            row.style.maxWidth = '90%';
                        } else {
                            row.style.display = 'none';
                        }
                    });
                });
            });
        });
    </script>
</body>
</html>
