{% include 'navbar_after_login.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Stats</title>
    <link rel="stylesheet" href="static/css/userstats.css">
</head>
<body>
    <h1>User Stats</h1>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>User Index</th>
                    <th>Username</th>
                    <th>Quiz No.</th>
                    <th>Topics</th>
                    <th>Score</th>
                    <th>Date</th>
                    <th>Time spent</th>
                </tr>
            </thead>
            <tbody>
                {% for record in u_data %}
                    <tr class="user-row" data-user-email="{{ record.emailid }}">
                        <td>{{ loop.index }}</td>
                        <td class="username">{{ record.emailid }}</td>
                        <td colspan="5"></td>
                    </tr>
                    {% for test_index in range(record['num_tests']) %}
                        <tr class="details-row details-for-user-{{ record.emailid }}" style="display: none;">
                            <td></td>
                            <td></td>
                            <td>{{ test_index + 1 }}</td>
                            <td>{{ record.test_data[test_index].keys() | join(', ') }}</td>
                            <td>{{ record.scores[test_index] }}</td>
                            <td>{{ record.date[test_index] }}</td>
                            <td>{{ record.time_taken[test_index] | round(1) }}s</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const usernames = document.querySelectorAll('.username');
            usernames.forEach(username => {
                username.addEventListener('click', function () {
                    const userRow = this.parentElement;
                    const userEmail = userRow.getAttribute('data-user-email');
                    const detailsRows = document.querySelectorAll('.details-row');

                    detailsRows.forEach(row => {
                        if (row.classList.contains('details-for-user-' + userEmail)) {
                            row.style.display = (row.style.display === 'none' || row.style.display === '') ? 'table-row' : 'none';
                        } else {
                            row.style.display = 'none';
                        }
                    });
                });
            });
        });
    </script>
</body>
</html>
