{% if user_auth is not none%} {% include 'navbar_after_login.html'%}
{%else%} {% include 'navbar_before_login.html'%}
{% endif %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/up.css')}}">
        <title>User Page</title>
</head>
<body>
        
        <h1 style="color: black;">Welcome {{user_auth}}</h1>
        <!-- To display ->
                Number of tests given
                Score achieved on each test
                Average score
                Button to give new test               
        -->
        {% for i in user_score_data.test_scores %}
        <p>{{ i }}</p>
        {% endfor %}

        <p>{{ user_score_data.test_scores.Easy }}</p>
        <p>{{ user_score_data.test_scores.Medium }}</p>
        <p>{{ user_score_data.test_scores.Hard }}</p>
        
        <button id="startquiz">Give quiz</button>
        <form method='POST'>
            <div id="difficulty_level">
                <button type="submit" name="difficulty_level" value="Easy">Easy</button>
                <button type="submit" name="difficulty_level" value="Medium">Medium</button>
                <button type="submit" name="difficulty_level" value="Hard">Hard</button>
            </div>
        </form>
        </body>
        <script>
                const first_btn = document.getElementById('startquiz')
                const diff_lvl = document.getElementById('difficulty_level')
                first_btn.addEventListener("click", function(){
                        diff_lvl.style.display = "block";
                });
        </script>
</body>
</html>